<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newthingwidgets.clone">

    <!-- Required for Android 11+ to query and launch other apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Declare intent queries for launching apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".WidgetDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        
        <!-- Analog Clock Widget Provider -->
        <receiver
            android:name=".widgets.AnalogClockWidgetProvider"
            android:exported="true"
            android:label="Analog Clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analog_clock_widget_info" />
        </receiver>
        
        <!-- App Launcher Widget Provider -->
        <receiver
            android:name=".widgets.AppLauncherWidgetProvider"
            android:exported="true"
            android:label="App Launcher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.newthingwidgets.clone.ACTION_LAUNCH_APP" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_launcher_widget_info" />
        </receiver>
        
    </application>

</manifest>
